<?xml version="1.0" ?>
<launch>
    <arg name="visualize" default="false" />

    <!-- Load initial state and tracker parameters into the tracker node's namespace from file -->
    <!-- <group ns="$(arg node_name)">
        <rosparam file="$(find ros_multitarget_tracking)/config/tracker_params.yaml" />
        <rosparam file="$(find ros_multitarget_tracking)/config/sensor_params.yaml" />
    </group> -->

    <!-- Launch multitarget tracker node -->
    <node name="mot_node" pkg="ros_multiobject_tracking" type="multiobject_tracking_node" output="screen" >
        <param name="visualize" value="$(arg visualize)" />
    </node>

    <!-- Launch RViz, if desired -->
    <group if="$(arg visualize)">
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find ros_multiobject_tracking)/config/mot.rviz"/>
    </group>

</launch>